<template>
  <div class="mt-6">
    <h1 style="font-size: 2rem">{{ msg }}</h1>
    <div class="mt-6">
      <b-button class="is-primary" @click="isActive = !isActive" style="margin: 0 auto"><i class="gg-asterisk" style="display: inline-block; margin-right: 5px"></i>Notify</b-button>
      <b-button class="ml-2" @click="snackbar">Snackbar</b-button>
      <b-notification style="width: 20rem; margin: 1rem auto" type="is-dark" v-model="isActive">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus,
        perferendis.</b-notification>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    msg: String,
  },
  data() {
    return {
      isActive: null,
    };
  },
  methods: {
    snackbar() {
      this.$buefy.snackbar.open({
        message: "Buefy PWA",
        type: "is-warning",
        position: "is-bottom",
      });
    },
  },
};
</script>

<style scoped>
a {
  color: #42b983;
}

button:hover {
  transform: scale(1.1);
}
</style>
