<template>
  <div v-if="offlineReady || needRefresh" role="alert">
    <span v-if="offlineReady">{{ offlineToast() }} </span>
    <div v-if="needRefresh" class="pwa-toast">
      <b-message title="Update" aria-close-label="Close message">
        <p>New content available, click on reload button to update.</p>
        <b-button
          type="is-primary"
          v-if="needRefresh"
          @click="updateServiceWorker()"
        >
          <i
            class="gg-redo"
            style="display: inline-block; margin-right: 5px"
          ></i
          >Reload
        </b-button>
      </b-message>
    </div>
  </div>
</template>

<script>
import useRegisterSW from "../mixins/useRegisterSW";

export default {
  name: "reload-prompt",
  mixins: [useRegisterSW],
  methods: {
    offlineToast() {
      this.$buefy.toast.open({
        message: "App ready to work offline",
        duration: 5000,
        position: "is-bottom",
        type: "is-info",
      });
    },
  },
};
</script>

<style scoped>
.pwa-toast {
  position: fixed;
  right: 0;
  bottom: 0;
  box-shadow: 3px 4px 5px 0 #8885;
  z-index: 1000;
}
.pwa-toast .message {
  margin-bottom: 8px;
}

</style>
