<template>
  <div class="column">
    <div
      class="card is-primary"
      style="
        min-height: 15rem;
        width: 60vw;
        margin: 0 auto;
        background-color: rgba(148, 245, 242, 0.72);
      "
    >
      <header class="card-header">
        <p class="card-header-title">
          Welcome
        </p>
      </header>
      <div class="card-content">
        <div class="content has-text-centered" style="font-weight: bold">
          <p>A PWA template with Vue 2, Buefy and Vite</p>
        </div>
      </div>
      <footer class="card-footer">
        <div class="card-footer-item">
          <span>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic
              minima et omnis, enim laborum. Dicta, officia! Nihil quos
              consectetur unde!
            </p>
            <slot />
          </span>
        </div>
      </footer>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped></style>
