<template>
  <nav role="navigation" aria-label="main navigation">
    <b-navbar type="is-primary">
      <template #brand>
        <b-navbar-item>
          <i class="gg-home"></i>
        </b-navbar-item>
      </template>
      <template #start>
        <b-navbar-item
          ><b-button size="is-small" type="is-ghost">Home</b-button>
        </b-navbar-item>
        <b-navbar-item
          ><b-button size="is-small" type="is-ghost"
            >Inspire</b-button
          ></b-navbar-item
        >
        <b-navbar-item
          ><b-button size="is-small" type="is-ghost"
            >About</b-button
          ></b-navbar-item
        >
      </template>
      <!-- <template #end>
        <b-navbar-item tag='div'>Home</b-navbar-item>
        <div class='buttons'>
          <a class='button is-primary'>Signup</a>
          <a class='button is-primary'>Login</a>
        </div>
      </template>-->
    </b-navbar>
  </nav>
</template>

<script>
export default {};
</script>

<style scoped></style>
