<template>
  <div style="width: 90vw; margin: 0 auto;" class="box">
    <b-tabs type="is-boxed" position="is-centered" v-model="activeTab">
      <b-tab-item>
        <template #header>
          <i class="gg-home"></i><span>Home</span>
        </template>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum officia commodi dolorem culpa temporibus eveniet eos molestias nisi est odit voluptate, illum nesciunt architecto odio rem veritatis error? Quidem, necessitatibus.</p>
      </b-tab-item>
      <b-tab-item>
        <template #header>
          <i class="gg-notifications"></i><span>Issues</span>
        </template>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, error?</p>
      </b-tab-item>
      <b-tab-item>
        <template #header>
          <i class="gg-mail"></i><span>Contact</span>
        </template>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eius pariatur totam hic impedit dolores corrupti nostrum corporis consequuntur ea?</p>
      </b-tab-item>
    </b-tabs>
  </div>
</template>

<script>
export default {
  data: () => ({
    activeTab: 0,
  }),
};
</script>

<style  scoped>
.gg-home,
.gg-notifications,
.gg-mail {
  --ggs: 0.6;
}
</style>