<template>
  <div id="app">
    <div class="reload">
      <ReloadPrompt />
    </div>
    <div class="nav">
      <TheNavbar />
    </div>
    <HelloWorld msg="Vue 2 PWA, Vite + Buefy" />
    <div class="mt-2">
      <TheCard />
    </div>
    <div>
      <TheTabs />
    </div>

  </div>
</template>

<script>
import ReloadPrompt from "./components/ReloadPrompt.vue";
import TheNavbar from "./components/TheNavbar.vue";
import HelloWorld from "./components/HelloWorld.vue";
import TheCard from "./components/TheCard.vue";
import TheTabs from "./components/TheTabs.vue";
export default {
  components: {
    HelloWorld,
    TheNavbar,
    ReloadPrompt,
    TheCard,
    TheTabs,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
